<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        
        
        <div class="titulo-ingreso-datos">
            <h2 > Registra tus datos:</h2>
        </div>
        <form class="ingreso-datos" action="/user/register" enctype="multipart/form-data" method="POST">
            
            <div><input type="text" name="nombre" placeholder="Nombre" value="<%= locals.old && locals.old.nombre %>"></div> 
                <% if (locals.errors && errors.nombre) { %>
                    <p><%=errors.nombre.msg%></p>
                <% } %> 
            <div><input type="text" name="apellido" placeholder="Apellido" value="<%= locals.old && locals.old.apellido %>"></div> 
                <% if (locals.errors && errors.apellido) { %>
                    <p><%=errors.apellido.msg%></p>
                <% } %> 
            <div><input type="text" name="categoria" placeholder="Admin/User" value="<%= locals.old && locals.old.apellido %>"></div> 
                <% if (locals.errors && errors.categoria) { %>
                    <p><%=errors.categoria.msg%></p>
                <% } %> 
            <div><input type="email" name="email" placeholder="Correo" value="<%= locals.old && locals.old.email %>"></div> 
                <% if (locals.errors && errors.email) { %>
                    <p><%=errors.email.msg%></p>
                <% } %> 
            <div><input type="password" name="password" placeholder="Contraseña"></div> 
                <% if (locals.errors && errors.password) { %>
                    <p><%=errors.password.msg%></p>
                <% } %> 
            <div><input type="file" name="imagen" placeholder="Imagen"></div>
            <% if (locals.old && !old.file) { %>
                <p>Debe subir un archivo</p>
            <% } %> 
            <div class="botones">
                <div><input class="boton_enviar" type="submit" value="Enviar"></div>
                <div><input class="boton_reset" type="reset" value="Borrar"></div>
            </div>
        
        </form>



        <br>
        <br>
        <br>
        
        </main>

        <%- include('../partials/footer.ejs') %>
        
    </body>
</html>